<!DOCTYPE html>
<html>
  <head>
    <title>WebProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'semantic.min.css' %>


  </head>

  <body>
      <div class="right menu" align="end">
        <div class="item main-top-menu" align="end"><a href="/logout"><i class="sign out alternate icon"><b>LogOut</b></i></a></div>
      </div>
    <%= yield %>
  </body>
</html>
